.social-login
    button.github
        span
            i.fab.fa-github
        |Continue with github
    button.facebook
        span
            i.fab.fa-facebook-square
        |Continue with facebook  

