extends layouts/main.pug

block content
    .form-container
        input(type="text", placeholder ="Current Password", name = "current")
        input(type="text", placeholder ="New Password", name ="new")
        input(type="text", placeholder ="Verify the Password", name ="verify")
        input(type="submit", value = "Change Password")