extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header
        h3 Searching for #{searchingFor}
    .search__video
        each video in video_ls
            +videoBlock({
                id:video.id,
                title:video.title,
                views:video.views,
                videoFile:video.videoFile
            })