extends layouts/main.pug

block content
    .form-container
        form(avtion=routes.join, method="post")
            p Video File
            input(type="file", name="upload")
            input(type="text", placeholder="Title", name="title")
            input(type="text", placeholder="Description", name="description")
            input(type="submit", value="Upload Video")
        